.content-col {
  width: 100%;
  background: #dbe1f0;
}

.content-col .inner-content {
  padding: 40px 15px 80px 15px;
}

/* custom border */
.cus-border {
  box-shadow: 0 2px 5px -1px rgb(69 90 100 / 30%);
  transition: box-shadow 0.2s ease-in-out;
  border: 0px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

/* table */
.common-table thead {
  background: #5c677d;
  color: #fff;
  font-size: 14px;
  font-weight: 300;
}

.common-table thead th {
  font-weight: 400;
}

.common-table > tbody > tr:hover {
  background: rgb(245, 245, 245);
}

.common-table tr td i {
  cursor: pointer;
  padding: 6px;
  border-radius: 50%;
  font-size: 13px;
}

.common-table tr td .fa-trash-alt {
  border: 1px solid #dc3545;
  background: #fff;
  color: #dc3545;
}

.common-table tr td .fa-trash-alt:hover {
  background: #dc3545;
  color: #fff;
}
.common-table tr td .fa-trash-disabled {
  border: 1px solid #9e9e9e;
  background: #fff;
  color: #9e9e9e;
}

.common-table tr td .fa-trash-disabled:hover {
  border: 1px solid #9e9e9e;
  background: #fff;
  color: #9e9e9e;
  cursor: default;
}

.common-table tr td .fa-pencil-alt {
  border: 1px solid #616161;
  background: #fff;
  color: #616161;
}

.common-table tr td .fa-pencil-alt:hover {
  background: #616161;
  color: #fff;
}

/* form */
.content .sec-heading {
  font-weight: 500;
  padding-left: 3px;
  margin-top: 12px;
  margin-bottom: 8px;
}

.content label {
  font-size: 15px;
  color: #333333;
  font-weight: 300;
  margin-bottom: 5px;
}

.required-tag {
  color: #dc3545;
}

.form-control:focus {
  outline: 0;
  box-shadow: none;
  border-color: #5c677d;
}

.form-control.is-invalid,
.was-validated .form-control:invalid {
  background-image: none;
}

.form-control.is-invalid:focus,
.was-validated .form-control:invalid:focus {
  box-shadow: none;
}

select {
  background: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>")
    #fff no-repeat calc(100% - 5px) !important;
  padding-right: 30px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: textfield;
}

/* page loading */
.page-loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.spinner-border {
  color: #7a8aad;
}

/* pagination */
.pagination-div {
  width: fit-content;
  margin-left: auto;
  margin-top: 10px;
  margin-bottom: 15px;
}

.pagination-div .MuiPaginationItem-page.Mui-selected {
  background-color: #14181f;
  color: #fff;
}

.pagination-div .MuiPaginationItem-page.Mui-selected:hover {
  background-color: #1f1f1f;
}

.pagination-div .MuiPaginationItem-page:hover {
  background-color: #0000001f;
}

.pagination-div button:focus {
  outline: 0;
}

.pagination-div .MuiPaginationItem-root {
  height: 26px;
  min-width: 26px;
  line-height: 1.5rem;
  font-size: 13px;
}
